form{
border: 1px dotted gray;
width: 50%;
margin-left: 25%;
text-align: center;
padding: 5%;
margin-bottom: 3%;
background-color: aliceblue;
}
span,input,select{
    margin: 2%;
}

table{
    
    margin-left: 15%;
    text-align: center; 
}